In [3]:
import pandas as pd
from os.path import join, expanduser

In [12]:
output_path = expanduser('~/data/jstor/latest/')
df = pd.read_csv('{0}np_data.csv.gz'.format(output_path), index_col=0)

In [13]:
df.head()

      root                                     np  count               doi
0     1990                       ('late', '1990')      3  10.2307/27522628
1  ability               ('technical', 'ability')      4    10.2307/256257
2  ability  ('emotion', 'recognition', 'ability')      3  10.2307/20159701
3  ability             ('corporation', 'ability')      3    10.2307/256120
4  ability                    ('unit', 'ability')      2  10.2307/20159726

In [14]:
df.shape[0]

8740

In [15]:
df.drop_duplicates('root').shape[0]

1311

In [16]:
df.drop_duplicates('np').shape[0]

6837