In [24]:
import pandas as pd
from os.path import join, expanduser

In [25]:
output_path = expanduser('~/data/jstor/latest/')
df = pd.read_csv('{0}np_data_all.cvs.gz'.format(output_path), index_col=0)

In [26]:
df.head()

           root                           np  count               doi
0        -level            ('chi', '-level')      2    10.2307/255076
1  -subordinate  ('manager', '-subordinate')      2    10.2307/256568
2         -user     ('intravenous', '-user')      2   10.2307/2676372
3           10a        ('hypothesis', '10a')      2  10.2307/20159791
4           10a        ('hypothesis', '10a')      2   10.2307/3069377

In [27]:
df.shape[0]

50172

In [28]:
df.drop_duplicates('root').shape[0]

2807

In [29]:
df.drop_duplicates('np').shape[0]

30945